fastapi
uvicorn[standard]
python-dotenv
sqlalchemy
psycopg2-binary
alembic
pydantic
mkdocs
mkdocs-material
mkdocs-minify-plugin
pymdown-extensions
redis
websockets
asyncio-mqtt
numpy
apscheduler
httpx
